<!DOCTYPE html>
<html class="xv-responsive notouch" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Free UX Videos - UXVIDEOS.COM</title>
        <meta name="theme-color" content="#000000">
        <link rel="stylesheet" href="/css/front.css">
    </head>

    <body class="home">
        {{{body}}}
    </body>
</html>