<div class="mobile-hide">
    <div class="main-categories">
        <ul>
            <li class="mobile-hide"><a class="btn btn-default label">Categories</a></li>
            {{#each tags}}
                <li><a href="/?tag={{this.tag}}" class="btn btn-default">{{ this.tag }}</a> </li>
            {{/each}}
            <li class="mobile-show"><a href="#tags" class="btn btn-default">+</a></li>
        </ul>
    </div>
</div>